<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>

<form action="/transaction" method="POST">
    Sender name: <input type="text" name="senderName">
    Sender password: <input type="password" name="senderPass">
    How much: <input type="number" name="count">
    Whom: <input type="text" name="nameTo"><br><br>
    <input type="submit" value="Submit">
</form>

<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>
</body>
</html>